@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  font-family: "Merriweather", serif;
}

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}